@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 6% 10%;
    --foreground: 210 20% 98%;
    --card: 210 6% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 210 6% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 6% 70%;
    --primary-foreground: 210 20% 10%;
    --secondary: 210 6% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 6% 25%;
    --muted-foreground: 210 10% 65%;
    --accent: 210 6% 80%;
    --accent-foreground: 210 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 6% 25%;
    --input: 210 6% 25%;
    --ring: 210 6% 70%;
    --chart-1: 210 30% 50%;
    --chart-2: 180 40% 45%;
    --chart-3: 240 30% 55%;
    --chart-4: 200 35% 60%;
    --chart-5: 220 40% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-image: linear-gradient(90deg, hsl(var(--background)), hsl(var(--primary) / 0.1));
  }
}
